
#slider {
	height:400px;
	width:650px;
	margin: 50px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	
	}
#image {
	height:400px;
	width:650px;
	position:absolute;
	border-radius: 5rem;
	border: 2px solid black;
	}
.left_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:.9;
	transition: all .2s ease-in-out 0s;
	}
.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:1;
	transition: all .5s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:.9;
	}
.right_hold:hover .right {
	opacity:1;
}
.left:hover .left1